body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #120f0f; 
}

.main-body {
    margin-top: 20px;
}

.breadcrumb-item a {
    color: blue;
}

.container{
    max-width: 800px;
    margin: 50px auto;
}

.breadcrumb, .breadcrumb-item a{
    color: black;
    background-color: #efe7dc;
}

.card {
    padding: 20px;
    border: none;
    background-color: #efe7dc;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #8B4513;
    color: #fff;
    border-bottom: none;
    padding: 15px;
    border-radius: 10px 10px 0 0;
}

.card-body {
    padding: 30px;
}

.btn-primary{
    background-color: #5e2d00;
    border-color: #8B4513;
}

.btn-primary:hover{
    background-color: #BB6B24;
    border-color: #BB6B24;
}

img.rounded-circle {
    border: 5px solid #837666;
    border-radius: 50%;
    width: 125px;
    height: 125px;
}

hr {
    border-top: 1px solid #8B4513;
}

.form-control {
    border-color: #837666;
}

.form-control:focus {
    border-color: #5e2d00;
    box-shadow: none;
}

.btn-info{
    background-color: #5e2d00;
    border-color: #8B4513;
}

.btn-info:hover{
    background-color: #BB6B24;
    border-color: #BB6B24;
}

.upload{
    width: 140px;
    position: relative;
    margin: auto;
    text-align: center;
}

.upload .rightRound{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: blue;
    width: 32px;
    height: 32px;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.upload .leftRound{
    position: absolute;
    bottom: 0;
    left: 0;
    background: red;
    width: 32px;
    height: 32px;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.upload .fa{
    color: white;
}

.upload input{
    position: absolute;
    transform: scale(2);
    opacity: 0;
}

.upload input::-webkit-file-upload-button, .upload input[type=submit]{
    cursor: pointer;
}

.leftRound #remove {
    position: absolute;
    bottom: 0;
    left: 0;
    background: red;
    width: 32px;
    height: 32px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    border: none;
}