body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url(/assets/images/bg4.jpg);
}
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
h2 {
    margin-top: 0;
    color: #663300;
}
.product-name h3 {
    color: #663300;
    margin-bottom: 15px;
}
.feedback-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}
.feedback-display .emoji {
    font-size: 50px;
}
.feedback-display .feedback-text {
    font-size: 20px;
    color: #663300;
    margin-top: 10px;
}
form {
    display: flex;
    flex-direction: column;
}
input[type="text"],
textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
textarea {
    resize: vertical;
}
.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.rating input {
    display: none;
}
.rating label {
    font-size: 30px;
    color: #ccc;
    cursor: pointer;
}
.rating label:before {
    content: '\2605';
}
.rating input:checked ~ label {
    color: #663300;
}
.rating input#star1:checked ~ label:nth-of-type(-n+1),
.rating input#star2:checked ~ label:nth-of-type(-n+2),
.rating input#star3:checked ~ label:nth-of-type(-n+3),
.rating input#star4:checked ~ label:nth-of-type(-n+4),
.rating input#star5:checked ~ label:nth-of-type(-n+5) {
    color: #663300;
}
button[type="submit"] {
    padding: 10px 20px;
    background-color: #663300;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button[type="submit"]:hover {
    background-color: #996633;
}
.back-button {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: white;
    text-decoration: none;
}
.back-button:hover {
    text-decoration: underline;
}