#preloader {
    background: black url(/assets/images/coffeeloading1.gif) no-repeat center center;
    background-size: 40%;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

@media screen and (max-width: 992px) {
    #preloader {
        background-size: 100%;
    }
}

@media screen and (max-width: 768px) {
    #preloader {
        background-size: 100%;
    }
}

@media screen and (max-width: 576px) {
    #preloader {
        background-size: 100%;
    }
}

@media screen and (max-width: 480px) {
    #preloader {
        background-size: 100%;
    }
}
