body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;    
}

.main-body {
    margin-top: 20px;
}

.breadcrumb-item a {
    color: blue;
}

.container{
    display: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 500%;
}

.card {
    border: none;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #8B4513;
    color: #fff;
    border-bottom: none;
    padding: 15px;
    border-radius: 10px 10px 0 0;
}

.card-body {
    padding: 30px;
}

.btn-primary{
    background-color: #5e2d00;
    border-color: #8B4513;
}

.btn-primary:hover{
    background-color: #BB6B24;
    border-color: #BB6B24;
}

input[type="file"] {
    display: none;
}

img.rounded-circle {
    border: 5px solid #8B4513;
}

hr {
    border-top: 1px solid #8B4513;
}

.form-control {
    border-color: #8B4513;
}

.form-control:focus {
    border-color: #5e2d00;
    box-shadow: none;
}

.btn-info{
    background-color: #5e2d00;
    border-color: #8B4513;
}

.btn-info:hover{
    background-color: #BB6B24;
    border-color: #BB6B24;
}