body{
    background-color: #021024
}

.container {
    margin-top: 30px;
}

.card {
    background-color: #452f1b;
    color: #fff;
    border-radius: 15px;
}

.card a {
    color: #fff;
}

img{
    width:50px;
    height:40px;
}

.btn-info {
    background-color: #8e6d49;
    border-color: #8e6d49;
}

.btn-info:hover {
    background-color: #452f1b;
    border-color: #452f1b;
}

table {
    border-collapse: collapse;
    width: 100%;
    color: black !important;
}

th {
    background-color: #052659;
    border: 1px solid #ddd;
    padding: 8px; 
    text-align: center; 
}

tr {
    background-color: #7da0ca; 
}

td {
    border: 1px solid #052659;
    padding: 8px;
    text-align: center; 
    color: black;
}

.avlbtn{
    background-color: #507b58; 
    color: white; 
    padding: 5px 10px; 
    font-size: 10px; 
    border-radius: 20px;
}

.unvlbtn{
    background-color: #ab3131; 
    color: white; 
    padding: 5px 10px; 
    font-size: 10px; 
    border-radius: 20px;
}