body {
    font-family: 'Arial', sans-serif;
    background-color: #120f0f;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.back-button {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: transparent; 
    border-color: #6d5022;
    color: white; 
    border: 2px solid #996633; 
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.back-button:hover {
    background-color: #663300;
    text-decoration: none; 
}

.back-button:active {
    transform: scale(0.98); 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); 
}

.feedback-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.feedback-item {
    width: 100%;
    max-width: 350px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f4f1ec;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.feedback-item p {
    margin: 10px 0;
}

.stars {
    display: inline-block;
    font-size: 0;
    margin-bottom: 10px;
}

.stars::before {
    content: '★★★★★';
    font-size: 24px;
    background: linear-gradient(90deg, gold calc(var(--rating) / 5 * 100%), lightgray calc(var(--rating) / 5 * 100%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.username-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.username {
    font-weight: bold;
}

.date {
    color: gray;
    font-size: 14px;
}

@media (min-width: 100px) and (max-width: 374px)  {
    .container {
        max-width: 250px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    .back-button{
        margin-bottom: 70px;
    }
}